.info {
    background-image: url("../img/Фон.jpg");
    background-size: cover;
    min-height: 100vh;

    h2 {
        padding-top: 100px;
        padding-bottom: 30px;
    }

    p {
        font-size: 24px;
        padding-bottom: 30px;
    }
}
