.product {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;

    @media(max-width: 589px) {
        flex-direction: column;
    }

    .uboutProduct {
        margin-top: 20px;
    }

    @media (min-width: 992px) and (max-width: 1199px) {
        .uboutProduct {
            margin-top: 450px;
            margin-left: -470px;

        }
    }
    
    @media (min-width: 768px) and (max-width: 991px) {
        .uboutProduct {
            margin-top: 300px;
            margin-left: -350px;

        }
    }
    
    @media (min-width: 590px) and (max-width: 767px) {
        .uboutProduct {
            margin-top: 300px;
            margin-left: -340px;
        }
    }

    > div {
        width: 50%;

        @media(max-width: 767px) {
            &:first-child {
                width: 100%;
            }
        }

        @media(max-width: 589px) {
            width: 100%;
        }
    }

    .image {
        position: relative;

        img {
            width: 80%;

            @media(max-width: 589px) {
                width: 100%;
            }
        }

        .percent {
            position: absolute;
            top: 0;
            width: 50px;
            height: 40px;
            background-color: rgba(0, 0, 0, 0.809);
            color: #fff;
            text-align: center;
            line-height: 40px;
            font-weight: 500;
        }
    }

    @media(max-width: 767px) {
        h2 {
            font-size: 24px;
        }
    }

    @media(max-width: 589px) {
        h2 {
            margin-top: 50px;
            text-align: center;
        }
    }

    .price {
        font-weight: 500;
        margin-top: 20px;
        font-size: 24px;

        @media(max-width: 589px) {
            text-align: center;
        }

        @media(max-width: 767px) {
            font-size: 20px;
        }

        .new {
            font-size: 28px;

            @media(max-width: 767px) {
                font-size: 22px;
            }
        }

        .old {
            color: #808080;
            margin-left: 10px;
            text-decoration: line-through;
        }
    }
    
    @media(max-width: 589px) {
        .button {
            text-align: center;
        }
    }

    button {
        color: #000;
        margin-top: 20px;
        background: #fff;
        border: 1px solid #000;
        font-size: 20px;
        font-weight: 500;
        padding: 10px 30px;
        transition: all .6s ease;

        &:hover {
            transform: translateY(-5px) scale(1.05);
            background-color: #ebe8e8;
        }
    }

    h3 {
        margin-top: 50px;
    }

    p {
        font-size: 20px;
    }
}

